NEXT_PUBLIC_FASTAPI_URL=https://curatrack-v3.onrender.com
NEXT_PUBLIC_OAUTH_REDIRECT_URI=https://curatrack-v3.onrender.com/api/oauth2callback
NEXT_PUBLIC_SUPABASE_URL=https://pwpbcomeklrxfieaklvq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3cGJjb21la2xyeGZpZWFrbHZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxMTcwNDksImV4cCI6MjEwMTY5MzA0OX0.pVxpAV3Qq-4P9-z1_T4j17wYGim3EKu0_00OokyQFKg

